# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Unit test caches
.pytest_cache/
htmlcov/
.coverage*

# OS files
.DS_Store
Thumbs.db

# Project-specific
cc*.txt
ccs*.txt
cca*.txt
results*.txt
failed*.txt
cookies.txt

# Environment variables
.env
.env.local

# Tests
tests/